body{
	font-family: "Arial";
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	margin: 0;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #C4C4C4;
	height: 77px;
	border: 1px solid black;
}
.logo{
	font-size: 36px;
	font-weight: 700;
	padding: 12px 52px;
	margin: 6px 9px 6px;	
	border-radius: 20px;
	background-color: white;
}
.settings{
	padding: 27px 28px;
	border: 1px solid black;
}
.info{
	display: flex;
	flex-direction: row;
}
.sidebar{
	flex: 4;
	display: flex;
	flex-direction: column;
	width: 259px;
	background: #E5E5E5;
	border: 1px solid black;
}
.item{
	border: 1px solid black;
	margin-bottom: 13px;
	padding: 9px 12px;
}
.main{
  flex: 5;
}
.userstat{
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border: 1px solid #000000;
}
.name{
	margin: 6px 13px;
}
.netstatus{
	margin: 6px 6px 6px 0px;
}

.right,.left{
	flex: 1;
	background: rgba(196, 196, 196, 0.35);
}
.uspage{
	flex: 10;
	background: #E5E5E5;
}
.page{
	display: flex;
	flex-direction: row;
}
.rpage{
	padding:14px ;
}
.photo{
	display: flex;
  justify-content: center;
  align-items: center;
	font: 24px;
	width: 300px;
	height: 300px;
	background: #C4C4C4;
	margin-bottom: 15px;
}
.actions{
	display: flex;
	flex-direction: column;
}
.acts{
	display: flex;
	flex-direction: row;
}
.oth{
	display: flex;
  justify-content: center;
  flex-direction: column;
}
.folnums{
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 301px;
  height: 20px;
}
.write, .befriend{
	font-size: 22px;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	background: #C4C4C4;
	width: 145px;
	height: 50px;
	margin-bottom: 6px;
	margin-right: 11px;
}
.rpage{
	flex: 5;
	margin-right: 0px;
}
.lpage{
	flex: 5;
	flex-direction: column;
}
.news{
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	width: 195px;
	height: 25px;
	background: #C4C4C4;
	margin-left: 51px;
	margin-bottom: 11px;
}
.friends{
	margin-bottom: 16px;
}
.friends,.onfriends{
	width: 300px;
	height: 150px;
	background: #C4C4C4;
}
.headfr,.onheadfr{
	display: flex;
	align-items: center;
	text-align: center;
	height: 35px;
	background: #FFFFFF;
	padding-left: 8px;
}
.frphotos, .onfrphotos{
	display: flex;
	flex-wrap: wrap;
}
.frphotos>div,.onfrphotos>div{
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 3px;

	width: 50px;
	height: 50px;
	border: 1px solid #000000;
}
.status{
	font-size: 24px;
	width: 420px;
	height: 40px;
	background-color: #C4C4C4;
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 16px 31px 19px 0px;
}
.addinfo{
	width: 420px;
	font-size: 18px;
	font-weight: 400;
	background-color: #C4C4C4;
	padding-bottom: 24px;

}
.addinfo>.main{
	padding: 7px 14px;
}
.addinfo>.more{
	display: flex;
	justify-content: center;
	margin-top: 28px;
	margin-bottom: 24px;
}

.selfphoto{
	margin-top: 7.5px;
	width: 420px;
	height: 147.5px;
	background: #C4C4C4;
}
.selfphoto>.photos{
	font-size: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	height: 25px;
	background: #FFFFFF;
	padding-left: 8px;
}
.photolist{
	display: flex;
	flex-wrap: wrap;
}
.photolist>div{
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 3px;
	width: 115px;
	height: 115px;
	border: 1px solid #000000;
}

.post{
	width: 420px;
	font-size: 9px;
	font-weight: 400;
	background-color: #C4C4C4;
	padding-bottom: 24px;
	margin-top: 16.5px;
}
.posthd{
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	height: 25px;
	background: #FFFFFF;
	padding-left: 8px;
}
.find{
	width: 100px;
	height: 15px;
	font-size: 14px;
	background-color: #C4C4C4;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	margin-right: 9px;
}
.frpost{
	display: flex;
	flex-direction: row;

}
.postphoto{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	margin-top: 10px;
	margin-left: 16px;
}
.postinfo{
	margin-left: 10px;
	padding-top: 16px;
}
.postinfo-2{
	margin-left: 10px;
	padding-top: 20px;
}
.postcontent{
	width: 315px;
	height: 115px;
	border: 1px solid #000000;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
